.login{
    background-image:url(../../assets/images/login-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login form{
    margin-top:0px;
}
.jasmine-login-h1-head{
    width: 211px;
    height: 108px;
    margin: auto;
    background-image:url(../../assets/images/jasmine-login.png);
}
.hand{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    border-radius: 40px;
    background-color: #472d20;
    transform: scaleY(0.6);
    transition: 0.3s ease-out;
    position: absolute;
    left: 14px;
    bottom: -8px;
}
.hand.hand-r{
    left: 170px;
}

#login h1 a {
    margin: auto;
    background-image:url(../../assets/images/jasmine-logo.jpg);
}

.login form{
    background-image:url(../../assets/images/login-form-bg.jpg);
    box-shadow:none;
    border: none;
}

#login{
    opacity: 0.8;
    background-image:url(../../assets/images/login-form-bg.jpg);
    border: 1px solid #ccc;
    width: 400px;
    margin: 150px auto 0;
    padding: 10px 10px 20px 10px;
    border-radius: 3px;
    box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
}

body.login div#login form#loginform input {
    font-size: 15px;
}